.acc-details {
  background-color: var(--color-white-dark);
  font-size: var(--default-font);
  max-width: 70%;
  padding: 2.5rem 3rem;
  margin: 0 auto;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2.5rem;
  &__avatar {
    grid-column: 3/4;
    grid-row: 1/5;
    align-self: center;
    position: relative;
  }
}
