.guests {
  list-style: none;
  margin-top: 2.5rem;
  margin-right: 8rem;
  width: 100%;
  &__wrapper {
    margin-right: 1.5rem;
    @media screen and (max-width: 900px) {
      grid-row: 2/3;
      grid-column: 1/2;
      max-width: 150px;
      margin-top: 5rem;
      margin-left: 2.5rem;
    }
    @media screen and (max-width: 600px) {
      margin-left: 2rem;
    }
    @media screen and (max-width: 400px) {
      margin-left: 1.5rem;
    }
  }

  &__guest {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
    display: flex;
    align-items: center;
    gap: 1.5rem;
    justify-content: space-between;
    position: relative;

    &__name {
      font-size: var(--default-font);
      white-space: nowrap;
    }
    &__img {
      width: 5rem;
      height: 5rem;
    }
    &__remove-btn {
      position: absolute;
      top: 15%;
      right: -3%;
      font-size: 3rem;
      font-weight: 600;
      cursor: pointer;
      transform: translate(-50%, -50%);
      opacity: 0.6;
    }
  }
  &__text {
    font-size: 2rem;
    font-weight: 600;
    white-space: nowrap;
  }
}

.owner {
  font-size: var(--default-font);
  display: flex;
  align-items: center;
  gap: 1.5rem;
  justify-content: space-between;
  &__name {
    font-size: 3rem;
    font-weight: 600;
  }
  &__img {
    width: 6rem;
    height: 6rem;
  }
  border-bottom: 1px solid;
  padding-bottom: 2.5rem;
}

[board-members-theme="light"] {
  color: var(--color-black);
}

[board-members-theme="dark"] {
  color: var(--color-white-dark);
  border-color: var(--color-white-dark);
}
