.footer {
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  font-size: var(--default-font);
  color: var(--color-white-dark);
  padding-bottom: 2rem;
  // & > * {
  //   border: 1px solid;
  // }

  @media screen and (max-width: 900px) {
    padding-bottom: 1.5rem;
  }
  &__company-name {
    font-size: 3rem;
  }
  & ul {
    list-style: none;
  }
  &__links-1 {
    display: flex;
    gap: 1.5rem;
    &__item {
      opacity: 0.6;
      cursor: pointer;
      &:hover {
        opacity: 1;
        transform: translateY(-0.1rem) scale(1.1);
      }
    }
  }
  &__text {
    font-size: 2.5rem;
  }
  &__links-2 {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    // justify-content: center;
    &__item {
      width: 3rem;
    }
  }
  & svg {
    width: 100%;
    opacity: 0.6;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
}

[footer-theme="light"] {
  color: var(--color-black);
}
[footer-theme="dark"] {
  color: var(--color-white-dark);
}

[icon-theme="light"] {
  fill: var(--color-black) !important;
}
[icon-theme="dark"] {
  fill: var(--color-white-dark) !important;
}
