.ticker {
  &__wrapper {
    width: 100%;
    overflow: hidden;
    padding: 1rem 0;
  }
  position: relative;
  overflow: hidden;
  width: 200%;
  font-size: var(--default-font);
  display: flex;

  &__items {
    display: flex;
    gap: 3rem;
    width: 50%;
    justify-content: space-around;
    animation: 10s slide infinite;
    animation-timing-function: linear;
  }
  &__item {
    white-space: nowrap;
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

[ticker-theme="light"] {
  color: var(--color-black);
  border-bottom: 1px solid var(--color-black);
  background-color: var(--default-theme-light);
}
[ticker-theme="dark"] {
  color: var(--color-white);
  border-bottom: 1px solid var(--color-white);
  background-color: var(--color-board-default);
}
